@model IEnumerable<WebsiteBanMayAnh.Models.modelOrder>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Quản lý Order</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="~/Admin/Order">Order</a></li>
                        <li class="breadcrumb-item active">Danh sách</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-8">
                            </div>
                            <div class="col-4">
                                <div class="float-right pt-1">
                                    <button type="button" class="btn btn-primary btn-sm">
                                        <a href="~/Admin/Order/Create" class="text-white"><i class="fas fa-plus fa-xs"></i>&nbsp;Thêm mới</a>
                                    </button>
                                    <button type="button" class="btn btn-danger btn-sm">
                                        <a href="~/Admin/Order/Trash" class="text-white"><i class="far fa-trash-alt fa-xs"></i>&nbsp; Thùng rác</a>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    
                                    <th>
                                        @Html.DisplayNameFor(model => model.DeliveryAddress)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.DeliveryName)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.DeliveryPhone)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.DeliveryEmail)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Status)
                                    </th>
                                    <th>Công cụ</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                       
                                        <td>
                                            @Html.DisplayFor(modelItem => item.DeliveryAddress)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.DeliveryName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.DeliveryPhone)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.DeliveryEmail)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Status)
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-success btn-sm"><a class="text-white"><i class="fas fa-toggle-on"></i></a></button>
                                            <button type="button" class="btn btn-secondary btn-sm"><a class="text-white" href="#"><i class="fas fa-edit"></i></a></button>
                                            <button type="button" class="btn btn-dark btn-sm"><a class="text-white" href="#"><i class="far fa-trash-alt"></i></a></button>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>