@model WebsiteBanMayAnh.Models.modelPost

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<style>
    .note-table {
        display: none;
    }

    .note-toolbar {
        text-align: center;
    }

    .note-editing-area {
        min-height: 40rem;
    }
</style>
<h2>Edit</h2>

@using (Html.BeginForm("Edit", "Page", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Sửa trang đơn</h1>
                    </div>
                    <div class="col-6">
                        <div class="float-right pt-1">
                            <input type="submit" value="Save" class="btn btn-primary btn-sm" />
                            <button type="button" class="btn btn-danger btn-sm">
                                <a href="~/Admin/Page/Index" class="text-white"><i class="fas fa-arrow-circle-left"></i>&nbsp; Trở về</a>
                            </button>
                        </div>
                    </div>
                </div>

            </div><!-- /.container-fluid -->
        </section>
        <!-- Main content -->
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-9">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.Id)
                            @Html.HiddenFor(model => model.Img)
                            @Html.HiddenFor(model => model.Created_At)
                            @Html.HiddenFor(model => model.Created_By)
                            <div class="form-group">
                                <lable for="name">Tên trang đơn</lable>

                                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })

                            </div>
                            <div class="form-group">
                                <lable for="name">Nội dung trang đơn</lable>
                               @Html.TextAreaFor(model => model.Detail, new { @class = "textarea", style = "height: 100px" })
                            @Html.ValidationMessageFor(model => model.Detail, "", new { @class = "text-danger" })

                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-group">
                                <label>Từ khóa [CEO]</label>
                                @Html.EditorFor(model => model.MetaKey, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.MetaKey, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <label>Mô tả [CEO]</label>
                                @Html.EditorFor(model => model.MetaDesc, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.MetaDesc, "", new { @class = "text-danger" })
                            </div>
                            
                            <div class="form-group">
                                <label>Trạng thái</label>
                                <select class="form-control" name="Status">
                                    <option value="1">Xuất bản</option>
                                    <option value="2">Chưa xuất bản</option>

                                </select>
                                @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <label>Hình đại diện</label>
                                <img src="~/Public/user/img/page/@Model.Img" alt="Alternate Text" width="100" class="d-block mx-auto" />
                                <input type="file" name="Img" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
        <!-- /.col -->
}




