@model IEnumerable<WebsiteBanMayAnh.Models.modelTopic>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Quản lý Topic</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="~/Admin/Topic">Topic</a></li>
                        <li class="breadcrumb-item active">Danh sách</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-8">
                        </div>
                        <div class="col-4">
                            <div class="float-right pt-1">
                                <button type="button" class="btn btn-primary btn-sm">
                                    <a href="~/Admin/Topic/Create" class="text-white"><i class="fas fa-plus fa-xs"></i>&nbsp;Thêm mới</a>
                                </button>
                                <button type="button" class="btn btn-danger btn-sm">
                                    <a href="~/Admin/Topic/Trash" class="text-white"><i class="far fa-trash-alt fa-xs"></i>&nbsp; Thùng rác</a>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.card-header -->
                <div class="card">
                    <table id="example1" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Tên chủ đề bài viết</th>
                                <th>Cấp cha</th>
                                <th>Ngày tạo</th>
                                <th>Liên kết</th>
                                <th>Công cụ</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Id)
                                    </td>
                                    <td>
                                        <a href="@Url.Action("Details","Topic", new {Id = item.Id })">@item.Name</a>
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ParentId)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Created_at)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Slug)
                                    </td>
                                    <td>
                                        @if (item.Status == 1)
                                        {
                                            <a href="@Url.Action("Status","Topic",new {id = item.Id })" class="btn btn-success btn-sm" title="Hiện"><i class="fas fa-toggle-on"></i></a>
                                        }
                                        else
                                        {
                                            <a href="@Url.Action("Status","Topic",new {id = item.Id })" class="btn btn-secondary btn-sm" title="Ẩn"><i class="fas fa-toggle-off"></i></a>
                                        }
                                        <a href="@Url.Action("Edit","Topic",new {id = item.Id })" class="btn btn-secondary btn-sm" title="Sửa"><i class="fas fa-edit"></i></a>
                                        <a href="@Url.Action("DelTrash","Topic",new {id = item.Id })" class="btn btn-dark btn-sm" title="Xóa"><i class="far fa-trash-alt"></i></a>
                                    </td>

                                </tr>
                            }
                        </tbody>
                    </table>

                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>