@model IEnumerable<WebsiteBanMayAnh.Models.modelTopic>
@{
    ViewBag.Title = "Trash";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Trash</h1>

                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="~/Admin/Topic">Topic</a></li>
                        <li class="breadcrumb-item active">Danh sách</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="col-12">
            <!-- /.card -->
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-8">
                            Trash Categorie
                        </div>
                        <div class="col-4">
                            <div class="float-right pt-1">
                                <p type="button" class="btn btn-primary btn-sm">
                                    <a href="~/Admin/Topic/Index" class="text-white"><i class="fas fa-arrow-circle-left"></i>&nbsp; Trở về</a>
                                </p>
                                
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.card-header -->
                <div class="card">
                    @Html.Partial("_Message")
                    <table id="example1" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Tên bài viết</th>
                                <th>Liên kết</th>
                                <th>Cấp cha</th>
                                <th>Công cụ</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Id)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Slug)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ParentId)
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-secondary btn-sm"><a class="text-white" href="~/Admin/Topic/Undo/@item.Id"><i class="fas fa-undo-alt"></i></a></button>
                                        <button type="button" class="btn btn-dark btn-sm"><a class="text-white d-block" href="~/Admin/Topic/Delete/@item.Id"><i class="fas fa-trash"></i></a></button>
                                    </td>

                                </tr>
                            }
                        </tbody>
                    </table>

                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>

