@model IEnumerable<WebsiteBanMayAnh.Models.modelCategory>
@{ if (Model.Any())
    {
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Tên danh mục</th>
                        <th>Cấp cha</th>
                        <th>Ngày tạo</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @{ int stt = 1;}
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@stt</td>
                            <td>@item.Name</td>
                            @{ if (item.Category?.Name == null)
                                {
                                    <td></td>
                                }
                                else
                                {
                                    <td> @item.Category.Name</td>
                                }
                            }
                            <td>@item.Created_at</td>
                            <td>
                                <button class="btn btn-info btn-Undo btn-sm" data-id="@item.Id">
                                    <i class="fa fa-undo"></i>
                                </button>
                                <button class="btn btn-danger btn-Del btn-sm" data-id="@item.Id">
                                    <i class="fa fa-trash"></i>
                                </button>
                            </td>
                        </tr>
                        stt++;
                    }

                </tbody>
            </table>
        </div>
    }
    else
    {
        <div class="text-center">Thùng rác của bạn đang trống. </div>
    } }

<script>

    $('.btn-Undo').click(function () {
        var $id = $(this).data('id');
        var __this = $(this);
        swal({
            title: "Khôi phục?",
            text: "Bạn chắc chắn xóa mẫu tin này chứ !",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Đúng, hãy xóa!",
            cancelButtonText: "Không, giữ lại!",
            closeOnConfirm: false,
            closeOnCancel: false
        },
            function (isConfirm) {
                if (isConfirm) {

                    $.ajax({
                        url: "/Category/UpdateStatus",
                        type: 'POST',
                        data: {
                            Id: $id,
                            eStatus: 'Active'
                        },
                        dataType: 'json',
                        success: function (response) {

                            if (response == 0) {

                                swal("", "", "success");
                                getListByFilter()
                                getListTrashByFilter()
                                $("#countTrash").html(parseInt($("#countTrash").html()) - 1)
                            }
                            else {
                                swal("Error", "System error", "error");
                            }
                        }
                    })
                } else {
                    swal(":))", "~-~", "error");
                }
            });
    });

    // Delete set status == -1
    $('.btn-Del').click(function () {
        var $id = $(this).data('id');
        swal({
            title: "Xóa?",
            text: "Bạn chắc chắn xóa mẫu tin này chứ !",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Đúng, hãy xóa!",
            cancelButtonText: "Không, giữ lại!",
            closeOnConfirm: false,
            closeOnCancel: false
        },
            function (isConfirm) {
                if (isConfirm) {

                    $.ajax({
                        url: "/Category/UpdateStatus",
                        type: 'POST',
                        data: {
                            Id: $id,
                            eStatus: 'Deleted'
                        },
                        dataType: 'json',
                        success: function (response) {

                            if (response == 0) {
                                swal("Xóa!", "Mẫu tin đã xóa thành công.", "success");
                                getListTrashByFilter()
                                $("#countTrash").html(parseInt($("#countTrash").html()) - 1)
                            }
                            else {
                                swal("Error", "System error", "error");
                            }
                        }
                    })
                } else {
                    swal(":))", "~-~", "error");
                }
            });
    });
</script>
