@model WebsiteBanMayAnh.Models.modelPost

@{
    ViewBag.Title = "Chi tiết bài viết";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Chi tiết</h1>
                    </div>
                    <div class="col-6">
                        <div class="float-right pt-1">
                            <a href="@Url.Action("Index","Post")" class="btn btn-danger btn-sm"><i class="fas fa-arrow-circle-left"></i>Trở về</a>
                        </div>
                    </div>
                </div>

            </div><!-- /.container-fluid -->
        </section>
        <!-- Main content -->
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-7">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                <label>Tên bài viết</label>
                                <br />
                                @Html.Raw(Model.Title)
                            </div>
                            <div class="form-group">
                                <label>Liên kết</label>
                                <br />
                                @Html.Raw(Model.Slug)
                            </div>
                            <div class="form-group">
                                <label>Chi tiết bài viết</label>
                                <br />
                                @Html.Raw(Model.Detail)
                            </div>
                        </div>
                        <div class="col-md-5">
                            @*bên phải*@
                            <div class="form-group">
                                <label>Ngày tạo</label>
                                <br />
                                @Html.Raw(Model.Updated_At)

                            </div>
                            <div class="form-group">
                                <label>Người tạo</label>
                                <br />
                                @Html.Raw(Model.Updated_By)
                            </div>
                            <div class="form-group">
                                <label>Hình bài viết</label>
                                <img src="~/Public/user/img/post/@Model.Img" alt="Alternate Text" width="100" class="d-block mx-auto" />
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>
}